
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    padding: 2rem;
    background-color: rgb(122, 122, 197);
    width: 937px;

}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    width: 1000px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}